@{
    ViewData["Title"] = "Home Page";
}

@model BookViewModel


@*
    Below is how I wanted to display each book
    
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Classification</th>
                <th>Category</th>
                <th>Page Count</th>
                <th>Price</th>
            </tr>
        </thead>
        @foreach (Book b in Model.Books)
        {
    <tr>
        <td>@b.Title</td>
        <td>@b.Author</td>
        <td>@b.Publisher</td>
        <td>@b.Isbn</td>
        <td>@b.Classification</td>
        <td>@b.Category</td>
        <td>@b.PageCount</td>
        <td>@b.Price</td>
    </tr>
        }
    </table>*@

<!--This is how I have to display each book per the chapter-->
@foreach (Book b in Model.Books)
{
    <!--Using a partial view-->
       <partial name="BookDetails" model="b"/>
}
<div link-maker="@Model.PageDetails" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>
<!--My old page links-->      
@*<div link-maker="@Model.PageDetails" page-action="Index"></div>*@

